



.board-column{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    min-height: 600px;
}
.board-column__name{}
.board-column-name{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-main);
    padding: 10px 10px 10px 10px;
}
.board-column-name__changer{}
.board-column-name-changer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-column-name-changer__input{
    margin: 0 10px 0 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.board-column-name-changer__submit{
    flex-shrink: 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
.board-column-name__text{
    padding: 0 10px 0 0;
}
.board-column-name__edit{}
.board-column__list{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
}
.board-column__item{
    padding: 5px 5px 5px 5px;
}
.board-column__adder{}
.board-column-adder{
    display: flex;
    margin: auto 0 0 0;
    border-top: 2px solid var(--color-main);
    padding: 10px 10px 10px 10px;
}
.board-column-adder__input{
    margin: 0 10px 0 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.board-column-adder__submit{}


