




.board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px 0 -15px;
}
.board__column{
    padding: 15px 15px 15px 15px;
    min-width: 300px;
    width: 25%;
}

