


.comment{
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.comment__author{}
.comment-author{}
.comment-author__value{}
.comment-author__divider{}
.comment__changer{}
.comment-changer{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}
.comment-changer__input{
    margin: 0 10px 0 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.comment-changer__submit{}
.comment__inner{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}
.comment__value{
    padding: 7px 7px 7px 7px;
    width: 100%;
}
.comment__controls{
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.comment__editor{
    margin: 0 10px 0 0;
}
.comment__remover{}


