

.login-popup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.login-popup__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-main);
    border-radius: 25px;
    padding: 25px 25px 25px 25px;
}
.login-popup__form{}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form__head{
    padding: 0 0 25px 0;
}
.login-form__name-field{
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.login-form__submit{
    margin: 20px 0 0 0;
}

