

.task{
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.task__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    cursor: pointer;
}
.task__name{
    padding: 0 10px 0 0;
}
.task__mover{
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: var(--color-text-main);
    cursor: pointer;
}
.task__comments{}
.task-comments{
    display: flex;
    align-items: center;
}
.task-comments__number{
    padding: 0 5px 0 0;
}
.task-comments__vis{
    line-height: 0;
}
.task-comments__vis-img{}

