


.task-popup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.task-popup__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    opacity: 0.3;
}
.task-popup__inner{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    max-width: 900px;
    width: 90%;
    max-height: 90vh;
    min-height: 600px;
    background-color: #ffffff;
}
.task-popup__controller{
    display: flex;
    border-bottom: 2px solid var(--color-main);
    padding: 10px 10px 10px 10px;
}
.task-popup__remover{}
.task-popup__name{}
.task-popup-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.task-popup-name__changer{}
.task-popup-name-changer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-popup-name-changer__input{
    margin: 0 10px 0 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.task-popup-name-changer__submit{}
.task-popup-name__text{
    padding: 0 10px 0 0;
}
.task-popup-name__edit{}
.task-popup__closer{}
.task-popup__content{
    padding: 0 20px 0 20px;
    overflow: auto;
}
.task-popup__column{}
.task-popup-column{
    padding: 10px 0 10px 0;
}
.task-popup-column__name{}
.task-popup-column__divider{}
.task-popup-column__value{
    padding: 0 0 0 10px;
}
.task-popup__author{}
.task-popup-author{
    padding: 10px 0 10px 0;
}
.task-popup-author__name{}
.task-popup-author__divider{}
.task-popup-author__value{
    padding: 0 0 0 10px;
}
.task-popup__descr{}
.task-popup-descr{
    padding: 10px 0 10px 0;
}
.task-popup-descr__head{}
.task-popup-descr__name{}
.task-popup-descr__divider{}
.task-popup-descr__inner{
    display: flex;
    padding: 10px 0 0 0;
}
.task-popup-descr__changer{}
.task-popup-descr-changer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}
.task-popup-descr-changer__input{
    margin: 0 10px 0 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.task-popup-descr-changer__submit{}
.task-popup-descr__value{
    padding: 7px 7px 7px 7px;
    width: 100%;
}
.task-popup-descr__controls{
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.task-popup-descr__editor{
    margin: 0 10px 0 0;
}
.task-popup-descr__remover{}
.task-popup__comments{}
.task-popup-comments{
    padding: 10px 0 10px 0;
}
.task-popup-comments__head{
    padding: 0 0 5px 0;
}
.task-popup-comments__name{}
.task-popup-comments__divider{}
.task-popup-comments__list{}
.task-popup-comments__item{
    padding: 5px 0 5px 0;
}
.task-popup__adder{}
.task-popup-adder{
    display: flex;
    margin: auto 0 0 0;
    border-top: 2px solid var(--color-main);
    padding: 10px 10px 10px 10px;
}
.task-popup-adder__input{
    margin: 0 10px 0 0;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.task-popup-adder__submit{}


